{% extends 'base.html' %}
{% block title %}
About
{% endblock title %}
{% block body %}
<div class="text-wrap w-auto container mt-5 aboutpg">
    <h3 class="text-center mb-4 text-uppercase animate__animated animate__tada animate__slow animate__infinite text-decoration-underline">About</h3>
    <p class="lh-base" style="text-align: justify;">
        Welcome to our Flask Feedback Form! We have developed this user-friendly web application to
        gather valuable
        feedback from our users. With our form, you can easily provide feedback on your experience with our product or
        service.</p>
    <p class="lh-base" style="text-align: justify;">
        We have integrated a MongoDB database to securely store all the feedback data you submit. This ensures that your
        feedback is safely stored and easily accessible for analysis and future reference.</p>

    <p class="lh-base" style="text-align: justify;"> But that's not all! We understand the importance of data analysis
        and reporting. To make it
        convenient for you,
        we have implemented a feature to generate the feedback data in CSV format. This allows you to export the
        feedback data and utilize it for further analysis, visualization, or integration with other systems.</p>
    <p class="lh-base" style="text-align: justify;">
        Our Flask Feedback Form is designed to be user-friendly and intuitive, making it easy for you to navigate and
        submit your feedback. We appreciate your time and input, as it helps us improve our products and services to
        better meet your needs.</p>
    <p class="lh-base fw-bold fs-5" style="text-align: center;">
        Start providing your valuable feedback now and let us know how we can serve you better!</p>
</div>
{% endblock body %}